<div id="board_frame">
    <div id="board">
        <div id="pin_surface">
            <ch-pin ng-repeat="pin in pins"
                    ng-class="pin.color"

                    color="{{pin.color}}"
                    initcsstop="{{pin.top}}"
                    initcssleft="{{pin.left}}"
                    id="{{pin.id}}"

                    api="pin.api"
                    on-drag="pinHovers(x, y, id)"
                    on-drop="pinDrops(x, y, id)"
                    >
            </ch-pin>
        </div>

        <div ng-repeat="field in fields">
            <ch-square
                    color="{{field.color}}"
                    number="{{field.id}}"
                    actions="field.actions"
                    >
            </ch-square>
        </div>
    </div>
</div>