<div id="board_frame">
    <div id="board">
        <div id="virtualBoard">
            <ch-pin ng-repeat="pin in pins"
                    ng-class="pin.color"

                    color = "{{pin.color}}"
                    initcsstop = "{{pin.top}}"
                    initcssleft = "{{pin.left}}"

                    api="pin.api"
                    on-drag="pinHovers(x, y)"
                    on-drop="pinDrops(x, y)"
                    >
            </ch-pin>
        </div>

        <div ng-repeat="field in fields">
            <ch-square
                    color="{{field.color}}"
                    number="{{field.number}}"
                    actions="field.actions"
                    >
            </ch-square>
        </div>
    </div>
</div>