<div id="board_frame">
    <div id="board">
        <div id="virtualBoard">
            <ch-pin
                    ng-repeat="pin in pins"
                    top="{{pin.field.center.y}}"
                    left="{{pin.field.center.x}}"
                    field="{{pin.field}}"
                    ng-class="pin.color"
                    actions="pin.actions"
                    on-drag="pinHovers(field, x, y)"
                    on-drop="pinDrops(field, x, y)"
                    >
            </ch-pin>
        </div>

        <div ng-repeat="i in squares">
            <ch-square
                    actions="i.actions"
                    color="{{i.color}}"
                    number="{{i.number}}"
                    ></ch-square>
        </div>
    </div>
</div>